.cartAmount {
  font-size: 12px;
  border-radius: 50%;
  background: red;

  color: white;
  padding: 0 5px;

  position: relative;
  left: -5px;
  top: -5px;

  vertical-align: top;
  z-index: 2;
}

.number1 {
  top: 8px;
  left: 9px;
  font-size: 14px;
}

@media (max-width: 880px) {
}
