.box {
  display: flex;

  /* ADD THIS TO GET ALL LINES OF THE BOX "THIN" */
  margin-top: -1px;
  margin-left: -1px;

  cursor: pointer;
  align-items: center;
  justify-content: center;

  text-align: center;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(1, 11, 19, var(--tw-border-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}
