@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&family=Quicksand&display=swap');

.nav {
  background: #f6f6f6;
  position: fixed;
  width: 100%;

  z-index: 60;
}

.logo-text {
  font-family: 'Kanit';
  font-size: 25px;
}

.nav-item {
  font-family: 'Quicksand';
  font-size: 17px;
}
