.product-tag {
  margin-bottom: 2px;
  background-color: #e7ddbb;
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.8125rem;
  line-height: 1em;
  margin-right: 2px;
}
.link {
  color: #384972;
  background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
}
