@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULTS */
:root {
  --mainThemeColor: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: #f6f6f6;
  font-family: Helvetica Neue LT W05_55 Roman, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.0625em;
  color: #010b13;
}

main {
  padding-top: 70px;
  width: 100%;
  height: 100%;
}
section {
  height: fit-content;
}
footer {
  width: 100%;
}
.product-tag {
  margin-bottom: 2px;
  background-color: #e7ddbb;
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.8125rem;
  line-height: 1em;
  margin-right: 2px;
}

.ellipsis-1-line {
  -webkit-line-clamp: 1;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-2-line {
  -webkit-line-clamp: 2;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h1 {
  font-size: 3.125rem;
  line-height: 1.1909090909em;
  letter-spacing: 0.0303030303em;
  font-family: Helvetica Neue LT W05_55 Roman, Helvetica, sans-serif;
}
.h2 {
  font-size: 2rem;
  line-height: 1.25em;
  letter-spacing: 0.03125em;
  font-family: Helvetica Neue LT W05_55 Roman, Helvetica, sans-serif;
}
.h3 {
  font-size: 1.625rem;
  line-height: 1.2142857143em;
  letter-spacing: 0.02857142857em;
  font-weight: inherit;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* TRANSITIONS  */
.slide-in-right-enter {
  transform: translateZ(-100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all ease-in 300ms;
}

.slide-in-right-exit {
  transform: translateX(-100%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all ease-out 300ms;
}

/* BUTTONS */
.button {
  height: 4.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;

  align-items: center;
  justify-content: center;
}
.link {
  color: #384972;
  background-image: linear-gradient(transparent calc(100% - 1px), #384972 1px);
}

/* COLORS */
.text-purpleNavy {
  --tw-text-opacity: 1;
  color: rgba(56, 73, 114, var(--tw-text-opacity));
}
